<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Receita</th>
            <th scope="col">Tempo preparo</th>
            <th scope="col">Custo</th>
            <th scope="col">Ingredientes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of receitas">
            <td>{{ user.nome }}</td>
            <td>{{ user.tempoPreparo }}</td>
            <td>{{ user.custoAproximado }}</td>
            <td>{{ user.ingredientes }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>